{% extends 'partials/base.html.twig' %}
{% block content %}
    <!--Hero -->
    {% for hero in page.header.hero %}
        {% set image = page.media[hero.src].quality(100) %}
        {% set image_url = image.url %}
        <div class="hero" style="background: url({{ image_url }}) no-repeat bottom center; background-size:cover;">
            <div class="container">
                <div class="inner-hero">
                    <div class="text">{{ hero.title }}</div>
                {% endfor %}
                <div class="animate-text">
                    {% for isa in page.header.isa %}
                        <span>{{ isa.name }}</span>{% endfor %}
                </div>
                <div class="social">
                    <ul>
                        {% for item in config.site.social %}
                            <li>
                                <a href="{{ item.url }}">
                                    <i class="{{ item.icon }} social-icon {{ item.color }} {% if loop.last %} last {% endif %}" aria-hidden="true"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% block footer %}
                <div class="footer">
                    <div class="content text-center">
                        Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        <a href="{{ base_url_absolute }}">{{ site.title }}</a>
                        |
                        <a href="{{ base_url_absolute }}/legal/">Privacy Statement</a>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}