{% extends 'partials/base.html.twig' %}
{% block content %}
    <div class="container">
        <div class="radio_songreqeust">
            <form accept-charset="UTF-8" action="https://usebasin.com/f/3c2c1de4eb36" enctype="multipart/form-data" method="POST">
                {% for form in page.header.form %}
                    <label for="{{ form.name }}">{{ form.label }}</label>
                    <input class="{{ form.class }}" type="{{ form.type }}" name="{{ form.name }}" size="{{ form.size }}" placeholder="{{ form.placeholder }}" maxlength="{{ form.maxlength }}" {% if form.required %} required="required" {% endif %}>
                {% endfor %}
                <button type="submit" class="btn btn-large btn-block btn-default">Reqeust</button>
            </form>
        </div>
    </div>
{% endblock %}