{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
    <head>
        {% block head %}
            <meta charset="utf-8"/>
            <title>
                {% if header.title %}{{ header.title|e('html') }}
                    -
                {% endif %}{{ site.title|e('html') }}</title>

            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {% include 'partials/metadata.html.twig' %}
            {% include 'partials/icons.html.twig' %}

            <link rel="canonical" href="{{ page.url(true, true) }}"/>

            {% block stylesheets %}

                {# Boostrap CSS #}
                {% do 
                    assets.addCss('theme://lib/bootstrap/css/bootstrap.min.css', 100) %}
                {# Fancybox CSS #}
                {% do 
                    assets.addCss('theme://lib/fancybox/css/fancybox.min.css', 100) %}
                {# Narmailze CSS #}
                {% do 
                    assets.addCss('theme://lib/normalize/css/normalize.css', 100) %}
                {# Narmailze CSS #}
                {% do 
                    assets.addCss('theme://lib/cookieconsent/css/cookieconsent.min.css', 100) %}
                {# Jplay Blue monday Skin CSS #}
                {% do 
                    assets.addCss('theme://lib/jplayer/skin/blue.monday/css/jplayer.blue.monday.min.css', 100) %}
                {# Font Awsome CSS #}
                {% do 
                    assets.addCss('theme://lib/font-awesome/css/fontawesome-all.min.css', 100) %}
                {# Main CSS #}
                {% do 
                    assets.addCss('theme://css/main.css', 100) %}
            {% endblock %}
            {{ assets.css() }}

            {% block javascripts %}
                {# Jqery JS #}
                {% do 
                    assets.addJs('theme://lib/jquery/js/jquery.min.js', 100) %}
                {# Bootstrap JS #}
                {% do 
                    assets.addJs('theme://lib/bootstrap/js/bootstrap.min.js', 99) %}
                {# Lettering JS #}
                {% do 
                    assets.addJs('theme://lib/letteringjs/js/jqery.lettering.js', 98) %}
                {# Fancybox JS #}
                {% do 
                    assets.addJs('theme://lib/fancybox/js/jquery.fancybox.min.js', 97) %}
                {# Bootstrap Vaildator JS #}
                {% do 
                    assets.addJs('theme://lib/bootstrap-validator/js/validator.min.js', 96) %}
                {# Cookie popup JS #}
                {% do 
                    assets.addJs('theme://lib/cookieconsent/js/cookieconsent.min.js', 95) %}
                {# Jplayer JS #}
                {% do 
                    assets.addJs('theme://lib/jplayer/js/jquery.jplayer.min.js', 94) %}
                {# Maiin JS #}
                {% do 
                    assets.addJs('theme://js/main.js', 93) %}
            {% endblock %}
            {{ assets.js() }}

            {# Google Analytics #}
            {% include 'partials/google-analytics.html.twig' %}
        {% endblock head%}
    </head>
    <body id="top" class="{{ page.header.body_classes }}">
        {% include 'partials/twitchBanner.html.twig' %}
        {% block header_navigation %}
            {% include 'partials/navigation.html.twig' %}
        {% endblock %}

        {% block body %}
            <section id="body">
                <div class="wrapper padding">
                    {% block content %}{% endblock %}
                </div>
            </section>
        {% endblock %}

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="col-md-4 col-sm-12">
                        <div class="footer-content">
                            Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            <a href="{{ base_url_absolute }}">{{ site.title }}</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="footer-content">
                            <a href="{{ base_url_absolute }}/legal/privacy-statement/">Privacy Statement</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 footer-social ">
                        <ul class="ul-np">
                            {% for item in config.site.social %}
                                <li>
                                    <a href="{{ item.url }}">
                                        <i class="fab {{ item.icon }} social-icon {{ item.color }}" aria-hidden="true"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block bottom %}
            {{ assets.js('bottom') }}
        {% endblock %}

    </body>
</html>