{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
    <head>
        {% block head %}
            <meta charset="utf-8"/>
            <title>
                {% if header.title %}{{ header.title|e('html') }}
                    -
                {% endif %}{{ site.title|e('html') }}</title>

            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {% include 'partials/metadata.html.twig' %}
            {% include 'partials/icons.html.twig' %}

            <link rel="canonicoclearcal" href="{{ page.url(true, true) }}"/>

            {% block stylesheets %}
                {# Boostrap CSS #}
                {% do
                    assets.addCss('theme://lib/bootstrap/css/bootstrap.min.css', 100) %}
                {# Fancybox CSS #}
                {% do
                    assets.addCss('theme://lib/fancybox/css/jquery.fancybox.min.css', 100) %}
                {# Narmailze CSS #}
                {% do
                    assets.addCss('theme://lib/normalize/css/normalize.minh.css', 100) %}
                {# Narmailze CSS #}
                {% do
                    assets.addCss('theme://lib/cookieconsent/css/cookieconsent.min.css', 100) %}
                {# Narmailze CSS #}
                {% do
                    assets.addCss('theme://lib/cookies-eu-banner/css/cookies-eu-banner.default.min.css', 100) %}
                {# Bootstrap Social CSS #}
                {% do
                  assets.addCss('theme://lib/font-awesome/css/fontawesome-all.min.css', 100) %}
                {# Main CSS #}
                {% do
                    assets.addCss('theme://css/main.css', 100) %}
            {% endblock %}
            {{ assets.css() }}

            {% block javascripts %}
                {# Jqery JS #}
                {% do
                    assets.addJs('theme://lib/jquery/js/jquery.min.js', 100) %}
                {# Bootstrap JS #}
                {% do
                    assets.addJs('theme://lib/bootstrap/js/bootstrap.bundle.min.js', 99) %}
                {# Lettering JS #}
                {% do
                    assets.addJs('theme://lib/letteringjs/js/jqery.lettering.min.js', 98) %}
                {# Fancybox JS #}
                {% do
                    assets.addJs('theme://lib/fancybox/js/jquery.fancybox.min.js', 97) %}
                {# Bootstrap Vaildator JS #}
                {% do
                    assets.addJs('theme://lib/bootstrap-validator/js/validator.min.js', 96) %}
                {# Cookie popup JS #}
                {% do
                    assets.addJs('theme://lib/cookies-eu-banner/js/cookies-eu-banner.min.js', 95) %}
                {# Bootstrap Notify JS #}
                {% do
                    assets.addJs('theme://lib/bootstrap-notify/js/bootstrap-notify.min.js', 93) %}
                {# Clipboard JS #}
                {% do
                    assets.addJs('theme://lib/clipboardjs/js/clipboard.min.js', 92) %}
                {# Main JS #}
                {% do
                    assets.addJs('theme://js/main.js', 91) %}
            {% endblock %}
            {{ assets.js() }}

            {% include 'partials/google-structured-data.html.twig' %}
        {% endblock head%}
    </head>
    <body id="top" class="{{ page.header.body_classes }}">
        {% block header_navigation %}
            {% include 'partials/navigation.html.twig' %}
        {% endblock %}
        {% include 'partials/cookie-notice.html.twig' %}
        {% include 'partials/twitchNotice.html.twig' %}

        {% block body %}
            <section id="body">
                <div class="wrapper padding">
                    {% if page.header.header.enabled %}
                        {% include 'partials/page-header.html.twig' %}
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </section>
        {% endblock %}
        {% if page.home == false %}
            {% block footer %}
                <footer>
                    <div class="container">
                        <div class="col-md-12">
                            <div class="content text-center">
                                ©
                                {{ "now"|date('Y') }}
                                <a href="{{ base_url_absolute }}">{{ site.title }}</a>
                                |
                                <a href="{{ base_url_absolute }}/legal/">Privacy Statement</a>
                            </div>
                        </div>
                    </div>
                </footer>
            {% endblock %}
        {% endif %}
        {% block bottom %}
            {{ assets.js('bottom') }}
        {% endblock %}

    </body>
</html>
