<div class="col-6 post">
    {% if page.header. %}{% endif %}

    <img class="img-thumbnail post-image" src="http://i50.tinypic.com/2nbf0ht.jpg" alt="blog post image">
    <div class="post-meta">
        <div class="title">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </div>
        <div>Posted by:
            {{ config.site.author.name }}
        </div>
        <div>Date Posted:
            {{ post.date | date("m/d/Y") }}
        </div>
    </div>
    {% if post.taxonomy.tag | length > 0 %}
        <div class="tags">
            {% for tag in post.taxonomy.tag %}
                <a href="{{ base_url }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
    {% endif %}
    <p>{{ post.content | striptags | truncate(115) }}</p>
    <a href="{{ post.url }}" class="btn btn-color btn-flat">Read Post</a>
</div>
{# {{ post.media[post.header.cover].cropResize(500,500).url }} #}
